{% extends 'blank.html' %}

{% block content %}

<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Guerra de CWL especifica</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/CWL/Refresh">Refrescar CWL</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">

        {% if state == "in_war" %}

        <div class="row">
            <div class="col">

                {% for r_disp in ronda_disp %}

                    {% if r_disp == True %}
                        <button class="btn btn-light" onclick="Info_GuerraEspecifica('{{forloop.counter}}')" >{{forloop.counter}}</button>
                    {% else %}
                        <button class="btn btn-light" disabled>{{forloop.counter}}</button>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

        {% else %}

        <div class="alert alert-danger" role="alert">
            No hay ninguna guerra de CWL en curso
        </div>

        {% endif %}

    </div>

</div>

{% endblock %}

{% block scripts %}

<script>

    function Info_GuerraEspecifica(ronda){
        ronda = parseInt(ronda) - 1;

        fetch('/CWL/SpecificWar/'+ronda, {
            method: 'GET',

        }).then(res => {
            res.json().then(data => {
                console.log(data);
            })
        })
    }

</script>

{% endblock %}